<div>
<div class="range">
    <p>
        <label for="amount">Filter by price</label>
        <input type="text" id="amount">
    </p>
    <div id="slider-range"></div>
    {{ form.filters.min_price }}
    {{ form.filters.max_price }}

    {#{{ form.filters.actions.submit }}#}
</div>
    <div class="button">
        {#{{ form.filters.actions.submit }}#}
        {{ form.filters.actions.submit }}
    </div>

</div>



