<div class="top-wrapper">
    <div class="filter">
        {{ form.filters.sort }}
    </div>
    <div class="button">
        {{ form.filters.actions.submit }}
        <h2>Showing 1-10 of {{ form.content.data.counters }} results</h2>
    </div>
</div>
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

<div class="row">
    {#<div class="col-md-6">#}
    {#{{ form.filters.title }}#}
    {#</div>#}
    {#<div class="col-md-6">#}
    {#{{ form.filters.published }}#}
    {#</div>#}
</div>

<div class="row">
    {% for key,entry in form.content.data %}
        {% if key matches '/^\\d+$/' %}
            <div class="col-md-4">

                {% for en in entry.image %}
                    <a href ="{{ en.nid }}"><img src="{{ en.img }}"/></a>
                {% endfor %}

                {% for en_key,en in entry.taxonomy_name %}
                    {% if en_key matches '/^\\d+$/' %}

                        <div class="block-fur-term">
                            <a href ="{{ en.url }}"><p>{{ en.name }}</p></a>
                        </div>
                    {% endif %}

                {% endfor %}

                <div class="block-fur-title">
                    <h2><a href ="{{ entry.nid }}">{{ entry.title }}</a></h2>
                </div>

                <div class="block-fur-price">
                    <p>${{ entry.price }}</p>
                </div>

            </div>
        {% endif %}
    {% endfor %}
</div>

{{ form.pager }}