{% for entry in content %}
    <div class="block-blog-wrap">
        <div class="block-blog-img">
            <a href ="{{ entry.alias }}"><img src="{{ entry.image }}"/></a>
        </div>

        <div class="block-blog-date">
            <p>{{ entry.date }}</p>
        </div>

        <div class="block-fur-title">
            <a href ="{{ entry.alias }}">{{ entry.title }}</a>
        </div>

    </div>

{% endfor %}
