{% for entry in content %}
    <div class="wrap-fur-sidebar">
        <div class="block-fur-img">
            <a href ="{{ entry.alias }}"><img src="{{ entry.image_url }}"/></a>
        </div>

        <div class="block-fur-title">
            <a href ="{{ entry.alias }}">{{ entry.title }}</a>
        </div>

        <div class = "stars">
            {% set counter = 0 %}
            {% for en in entry.rating %}
                {% set counter = counter + 1 %}
                <i class="fa fa-star" aria-hidden="true" style="color:gold"></i>
            {% endfor %}
            {#{{ counter }};#}
            {% set counter2 = 0 %}
            {% set counter2 = 5 - counter %}
            {% if counter2 > 0 %}
                {% for i in 1..counter2 %}
                    <i class="fa fa-star-o" aria-hidden="true" style="color:darkgray"></i>
                {% endfor %}
            {% endif %}
            {#{{ counter2 }};#}
        </div>

        <div class="block-fur-price">
            <p>${{ entry.price }}</p>
        </div>
    </div>
{% endfor %}
