{% for entry in content %}

    <div class="block-blog-img">
        <a href ="{{ entry.alias }}"><img src="{{ entry.image }}"/></a>
    </div>

    <div class="block-blog-date">
        <p>{{ entry.field_date_blog_value }}</p>
    </div>

    <div class="block-fur-title">
        <a href ="{{ entry.alias }}">{{ entry.title }}</a>
    </div>

    <div class="block-blog-user">
        <a href="{{ entry.alias3 }}"><p>{{ entry.username }}</p></a>
    </div>

    <div class="block-blog-term">
        <a href ="{{ entry.alias2 }}"><p>{{ entry.taxonomy_name.name }}</p></a>
    </div>

    <div class="block-blog-body">
        <p>{{ entry.body }}</p>
    </div>

    <div class="block-blog-readmore">
        <a href="{{ entry.alias }}">Read More</a>
    </div>

{% endfor %}


